body, nav, ul, li, a {margin: 0; padding: 0;}
body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
a {text-decoration: none;}

.container {
	width: 100%;
	max-width: 1152px;
	margin: 10px auto;
}

.bbm-menu-toggle {
	background-color: #812b2b;
	width: 100%;
	margin: 10px 0 0;
	padding: 10px 15px;;
	display: none;
	color: #ffffff;
	text-align: center;
	cursor: pointer;
}

@media (max-width: 768px) {
	.bbm-menu-toggle {
		border-bottom: 1px solid #581e1e;
		display: block;
	}
}

.bbm-menu * {
	box-sizing: border-box;
}

ul.bbm-menu,
ul.bbm-menu li {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.bbm-menu {
	background-color: #812b2b;
	width: 100%;
	margin: 10px 0 0;
	padding: 0 5px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: nowrap;
	border-radius: 5px;
}

@media (min-width: 769px) {
	ul.bbm-menu {
		display: flex !important;
	}
}

@media (max-width: 768px) {
	ul.bbm-menu {
		border-top: 1px solid #a33838;
		margin: 0 0 10px;
		display: none;
		border-radius: 0;
	}
}

ul.bbm-menu li {
	position: relative;
}

ul.bbm-menu li a {
	width: 100%;
	padding: 10px 15px;
	display: block;
	position: relative;
	color: #ffffff;
	font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	text-decoration: none;
	text-align: left;
	cursor: pointer;
}

ul.bbm-menu li > ul {
	background-color: #812b2b;
	width: 100%;
	min-width: 240px;
	padding: 5px 0;
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 2;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

@media (max-width: 768px) {
	ul.bbm-menu li > ul {
		margin-left: 10px;
		padding: 0;
		display: block;
		position: relative;
		top: 0;
		left: 0;
	}
}

ul.bbm-menu li:has(ul) > a {
	padding: 10px 32px 10px 15px;
}

ul.bbm-menu li:has(ul) > a::after {
	border-top: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
	width: 6px;
	height: 6px;
	display: block;
	content: '';
	position: absolute;
	top: calc(50% - 5px);
	left: calc(100% - 20px);
	z-index: 1;
	transform: rotate(135deg);
}

@media (max-width: 768px) {
	ul.bbm-menu li:has(ul) > a::after {
		display: none;
	}
}

ul.bbm-menu li:hover > a {
	background-color: #6f2424;
}

ul.bbm-menu li:hover > ul {
	display: block;
}

