<a class="bbm-menu-toggle" role="button">Menu</a>

<ul class="bbm-menu">
	<li><a href="https://www.phpbbmodders.com/">Home</a></li>
	<li><a href="https://www.phpbbmodders.com/community/">Community</a></li>
	{% if S_GROUP_528 %}
		<li>
			<a role="button">Tools</a>
			<ul>
				<li><a href="#">Hash generator</a></li>
				<li><a href="#">UNIX time converter</a></li>
				<li><a href="#">Password generater</a></li>
			</ul>
		</li>
	{% endif %}
	<li>
		<a role="button">Downloads</a>
		<ul>
			<li><a href="https://www.phpbb.com/customise/db/author/phpbbmodders.net/contributions">Our Extensions (Validated)</a></li>
			<li><a href="https://github.com/phpbbmodders">Our Extensions (repo)</a></li>
			{% if S_GROUP_528 %}
			<li><a href="https://github.com/phpbbmodders-30x-mods">Our Archived MODs (repo)</a></li>
			{% endif %}
		</ul>
	</li>
	{% if S_GROUP_528 %}
		<li><a href="#">Pastebin</a></li>
	{% endif %}
	<li>
		<a role="button">About</a>
		<ul>
			<li><a href="https://www.phpbbmodders.com/community/about-us">About US</a></li>
			<li><a href="https://www.phpbbmodders.com/community/rules">Rules</a></li>
			<li><a href="https://www.phpbbmodders.com/community/ucp.php?mode=terms">Terms</a></li>
			<li><a href="https://www.phpbbmodders.com/community/ucp.php?mode=privacy">Privacy</a></li>
			<li><a href="https://www.phpbbmodders.com/community/memberlist.php?mode=team">Team</a></li>
			{% if S_GROUP_528 %}
				<li><a href="#">Donate</a></li>
			{% endif %}
		</ul>
	</li>
	<li><a href="https://www.phpbbmodders.com/community/contactadmin">Contact</a></li>
</ul>
