body, nav, ul, li, a {margin: 0; padding: 0;}
body {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
a {text-decoration: none;}

.container {
	width: 100%;
	max-width: 835px !important;
	margin: 10px auto;
}

.toggleMenu {
	display: none;
	background: #812b2b;
	padding: 10px 15px;
	color: #fff;
}

.nav {
	list-style: none;
		*zoom: 1;
	background: #812b2b;
	border-radius: 5px;
}

.nav:before, .nav:after {
	content: " ";
	display: table;
}

.nav:after {
	clear: both;
}

.nav ul {
	list-style: none;
	width: 9em;
}

.nav a {
	padding: 10px 15px;
	color: #fff;
}

.nav li {
	position: relative;
}

.nav > li {
	float: left;
}

.nav > li > .parent {
	background-repeat: no-repeat;
	background-position: right;
}

.nav > li > a {
	display: block;
	font-size: 12px;
	font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	text-decoration: none;
}

.nav li ul {
	position: absolute;
	left: -9999px;
}

.nav > li.hover > ul {
	left: 0;
	width: 215px;
	font-size: 12px;
	font-family: "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
}

.nav li li.hover ul {
	left: 100%;
	top: 0;
}

.nav li li a {
	display: block;
	background: #eeeeee;
	color: #000;
	position: relative;
	z-index: 100;
	text-decoration: none;
}

.nav li li a:hover {
	display: block;
	background: #dadada;
	color: #000;
	position: relative;
	z-index: 100;
	text-decoration: none;
}

.nav li li li a {
	background: #249578;
	z-index: 200;
}

	@media screen and (min-width: 768px) {
		.rwd-break { display: none; }
	}

	@media screen and (max-width: 800px) {
		.rwd2-break { display: none; }
	}

@media screen and (max-width: 768px) {
	.site-logo { display: none; }
	.active {
		display: block;
	}

	.nav > li {
		float: none;
	}

	.nav > li > .parent {
		background-position: 95% 50%;
	}

	.nav li li .parent {
		background-repeat: no-repeat;
		background-position: 95% 50%;
	}

	.nav ul {
		display: block;
		width: 100%;
	}

	.nav > li.hover > ul, .nav li li.hover ul {
		position: static;
		width: 100%;
	}
}
